:root {
    --color-white: #FFFFFF;
    --color-light: #F4F4F4;
    --color-dark: #525252;
    --color-black: #141415;
    --color-primary: #2978A0;
    --color-primary-light: hsl(200, 59%, 39%, 20%);
    --color-success: #1D1E2C;
    --color-warning: #FFCE31;

    --transition: all 300ms ease;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
}

/* ::-webkit-scrollbar {
    width: 10px;
    background: var(--color-primary-light);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
} */

html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);
    max-width: 100vw;
    max-height: 100vh;
}

h1, h2, h3, h4, h5 {
    color: var(--color-black);
    line-height: 1.2;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 0.8rem;
}

p {
    line-height: 1.8;
}

.container {
    width: 94%;
    margin: 0 auto;
}

section {
    padding: 10rem 0 7rem;
    max-width: 100vw;
    overflow-x: hidden;
}

section h1 {
    text-align: center;
    display: block;
    margin-bottom: 5rem;
}

img {
    width: 100%;
}

.btn {
    padding: 1.4rem 3.4rem;
    font-size: 1.1rem;
    color: var(--color-black);
    background: var(--color-white);
    display: inline-block;
    margin: 2rem 0;
    transition: var(--transition);
}

.btn:hover {
    box-shadow: 0 1rem 3rem var(--color-primary-light);
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}
