
/*======= Frameworks and Development tools =======*/

/*Django & Flask*/
section.skills .skill:nth-child(1) .item .progress-bar .progress {
    height: 100%;
    width: 90%;
    background: var(--color-primary);
}

/*ReactJS & Vue.js*/
section.skills .skill:nth-child(1) .item:nth-child(2) .progress-bar .progress {
    height: 100%;
    width: 90%;
    background: var(--color-primary);
}

/*Go*/
section.skills .skill:nth-child(1) .item:nth-child(3) .progress-bar .progress {
    height: 100%;
    width: 85%;
    background: var(--color-primary);
}

/*Node.js*/
section.skills .skill:nth-child(1) .item:nth-child(4) .progress-bar .progress {
    height: 100%;
    width: 85%;
    background: var(--color-primary);
}

/*.NET core*/
section.skills .skill:nth-child(1) .item:nth-child(5) .progress-bar .progress {
    height: 100%;
    width: 60%;
    background: var(--color-primary);
}

/*======= Data Science Tools =======*/
/*Python (Pandas and Numpy)*/
section.skills .skill:nth-child(2) .item .progress-bar .progress {
    height: 100%;
    width: 90%;
    background: var(--color-primary);
}

/*Tensorflow & Keras*/
section.skills .skill:nth-child(2) .item:nth-child(2) .progress-bar .progress {
    height: 100%;
    width: 80%;
    background: var(--color-primary);
}

/*Pytorch & Prophet*/
section.skills .skill:nth-child(2) .item:nth-child(3) .progress-bar .progress {
    height: 100%;
    width: 80%;
    background: var(--color-primary);
}

/*PySpark*/
section.skills .skill:nth-child(2) .item:nth-child(4) .progress-bar .progress {
    height: 100%;
    width: 80%;
    background: var(--color-primary);
}

/*SQL*/
section.skills .skill:nth-child(2) .item:nth-child(5) .progress-bar .progress {
    height: 100%;
    width: 85%;
    background: var(--color-primary);
}

/*Power BI*/
section.skills .skill:nth-child(2) .item:nth-child(6) .progress-bar .progress {
    height: 100%;
    width: 85%;
    background: var(--color-primary);
}

/*Data visualization*/
section.skills .skill:nth-child(2) .item:nth-child(7) .progress-bar .progress {
    height: 100%;
    width: 85%;
    background: var(--color-primary);
}


/*======= Data Science Tools =======*/
/*Flutter*/
section.skills .skill:nth-child(3) .item .progress-bar .progress {
    height: 100%;
    width: 80%;
    background: var(--color-primary);
}

/*Kotlin*/
section.skills .skill:nth-child(3) .item:nth-child(2) .progress-bar .progress {
    height: 100%;
    width: 80%;
    background: var(--color-primary);
}

/*React Native*/
section.skills .skill:nth-child(3) .item:nth-child(3) .progress-bar .progress {
    height: 100%;
    width: 80%;
    background: var(--color-primary);
}


/*======= Current Learning =======*/
/*Elixir & Phoenix*/
section.skills .skill:nth-child(4) .item .progress-bar .progress {
    height: 100%;
    width: 30%;
    background: var(--color-primary);
}

/*SpringBoot and Java*/
section.skills .skill:nth-child(4) .item:nth-child(2) .progress-bar .progress {
    height: 100%;
    width: 40%;
    background: var(--color-primary);
}

/*Rust*/
section.skills .skill:nth-child(4) .item:nth-child(3) .progress-bar .progress {
    height: 100%;
    width: 20%;
    background: var(--color-primary);
}
