/* Skills section styles */
section.skills .container {
    width: 50%;
}

section.skills .container .skill {
    margin-bottom: 1rem;
}

section.skills .skill .head {
    background: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    padding: 1.6rem;
    cursor: pointer;
}

section.skills .skill .head h4 {
    color: var(--color-white);
}

section.skills .skill .head .left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

section.skills .skill .items {
    display: none;
}

/* JS */
section.skills .container .skill .items.show-items {
    display: block;
}

section.skills .skill .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1.6rem;
    background: var(--color-light);
    margin-bottom: 0.3rem;
    transition: var(--transition);
}

section.skills .skill .item:hover {
    background: var(--color-white);
}

section.skills .skill .progress-area {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

section.skills .item .progress-bar {
    width: 100%;
    height: 1rem;
    background: var(--color-primary-light);
}
