@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.navbar-nav {
    align-items: center;
    justify-content: center;
}

.navbar-nav li a {
    color: #FFF;
    text-decoration: none;
    padding: 15px;
}

#myNavbar .active a {
    background-color: #30706F;
    border-radius: 20px;
}

#myNavbar ul li {
    justify-content: space-between;
    padding: 10px;
}

.navbar-nav li a:hover, .navbar-nav .active li a:hover {
    transition: all ease-in-out 200ms;
    background-color: #333;
    border-radius: 20px;
}

/* HOME */
.home {
    height: 100vh;
    width: 100%;
    background-image: url(./public/photo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-content {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.home-content .img-fluid {
    transition: all 500ms;
    height: 50%;
    box-shadow: #222 2px 2px 30px;
}

.home-description {
    font-weight: bold;
    transition: all 1000ms;
}

.home-content .home-description h1 a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0;
    font-size: 32pt;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.home-description h1 a:hover {
    padding-left: 10px;
    color: #B51630;
}

.home-description p {
    font-size: 18pt;
    color: #30706F;
    font-weight: bold;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 10px;
    box-shadow: #222 2px 2px 5px, #F5F5F5 -1px -1px 3px;
}

main {
    background-color: #F5F5F5;
}

#portifolio-title {
    color: #333;
    text-align: center;
    font-size: 40pt;
    transition: all ease-in-out 500ms;
    padding: 40px;
    margin: 0;
}

#title {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 0;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.06) 4px 4px 10px, rgba(255, 255, 255, 0.8) -4px -4px 10px;
}

#title h1 {
    font-size: 28pt;
}

.col-sm-3:hover {
    transition: all 500ms ease-in-out;
    transform: translateY(-10px) translateX(-5px);
    box-shadow: #333 20px 20px 16px 0px;
}

.col-sm-3 {
    padding: 10px;
    border-radius: 13px;
    height: 500px;
    margin: 20px;
    background-color: #30706F;
}
 
.col-sm-3 .img-container {
    height: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-sm-3 h1 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
}

.col-sm-3 p {
    color: #111;
}

.col-sm-3 a {
    color: #F5F5F5;
    font-size: 20px;
    margin: 0 auto;
    padding: 0px;
}

.col-sm-3 a:hover {
    text-decoration: none;
    background-color: #222;
    color: #FFF;
    border-radius: 5px;
    transition: all 700ms;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 3px 3px 2px;
}

#footer {
    margin: 0px auto 0 auto;
    padding: 20px;
    color: #222;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

/* MOBILE */
@media (max-width: 600px) {

    .title {
        font-size: 12pt;
    }

    .col-sm-3 {
        max-height: 400px;
    }

    .col-sm-3 h1 {
        font-size: 20pt;
    }

    .col-sm-3 .img-container {
        height: 150px;
        padding: 20px;
    }

    .col-sm-3 .img-container img {
        height: 100%;
    }

    .col-sm-3:hover {
        transform: none;
        box-shadow: none;
    }
}

@media (max-width: 440px) {
    .col-sm-3 {
        height: 300px;
    }
    
    .col-sm-3 p {
        display: none;
    }

    #title h1 {
        font-size: 18pt;
    }
}

@media (max-width: 800px) {

    .home-content .img-fluid {
        height: 30%;
    }

    .home-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .home-description h1:hover, .home-description h1 a:hover {
        animation-name: none;
    }

    .home-content p {
        font-size: 12pt;
    }
}

@media (min-width: 560px) and (max-width: 1190px) {

    .col-sm-3 p {
        display: none;
    }

}