@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#myNavbar .active a {
    background-color: #30706F;
    border-radius: 20px;
}

#myNavbar ul li {
    margin: 0 30px;
}

#myNavbar ul li:hover, #myNavbar .active a:hover {
    transition: all ease-in-out 200ms;
    background-color: #333;
    border-radius: 20px;
}

/* HOME */
.home {
    height: 100vh;
    width: 100%;
    background-image: url(./public/photo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-content {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.img-circle {
    transition: all 500ms;
    height: 50%;
    box-shadow: #222 2px 2px 30px;
}

.home-description {
    font-weight: bold;
    transition: all 1000ms;
}

.home-content .home-description h1 a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0;
    font-size: 32pt;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.home-description h1 a:hover {
    padding-left: 10px;
    color: #B51630;
}

.home-description p {
    font-size: 18pt;
    color: #30706F;
    font-weight: bold;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 10px;
    box-shadow: #222 2px 2px 5px, #F5F5F5 -1px -1px 3px;
}

main {
    background-color: #F5F5F5;
}

#portifolio-title {
    color: #333;
    text-align: center;
    font-size: 40pt;
    transition: all ease-in-out 500ms;
    padding: 40px;
    margin: 0;
}

#title {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 0;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.06) 4px 4px 10px, rgba(255, 255, 255, 0.8) -4px -4px 10px;
}

#title h1 {
    font-size: 28pt;
}

.row {
    display: flex;
    border-radius: 25px;
    max-width: 300px;
    padding: 40px 0;
}

.col-sm-3:hover {
    transition: all 500ms ease-in-out;
    transform: translateY(-10px) translateX(-5px);
    box-shadow: #333 20px 20px 16px 0px;
}

.col-sm-3 {
    min-width: 400px;
    display: grid;
    padding: 10px;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 13px;
    max-height: 500px;
    margin: 0 20px;
}

.col-sm-3 {
    background-color: #30706F;
}

.col-sm-3 a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 20px;
}


#content h1 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    transition: all 500ms;
    padding: 20px 0;
    border-radius: 5px;
}

#content p {
    text-align: left;
    font-size: 17px;
    line-height: 22px;
}

@keyframes jump {
    0%   {transform: translateX(-1px); padding-left: 10px;}
    50%  {transform: translateX(0px); padding-left: 5px;}
    100%  {transform: translateX(-1px); padding-left: 10px;}
}


/* MOBILE */
@media (max-width: 400px) {

    .home-content {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .home-description h1:hover, .home-description h1 a:hover {
        animation-name: none;
    }

    .Projetos {
        grid-template-columns: auto;
    }

    .title {
        font-size: 12pt;
    }

    .white-content p, .green-content p, .red-content p {
        display: none;
    }
}