body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    background: #222222;
}

.nav-bar {
    height: 4vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
    transition: all 500ms;
}

.nav-link {
    display: flex;
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    transition-property: font-size;
    transition-duration: 500ms;
}

.nav-link:hover {
    font-size: 23px;
    color: #B51630;
}


/* HOME */
.home {
    flex: 1;
    height: 100vh;
    width: 100%;
    background-color: #F5F5F5;
    background-image: url(./public/photo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home-content {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.home-content img {
    transition: all 500ms;
    height: 50%;
    margin: 0;
    border: #30706F solid 3px;
    border-radius: 50%;
    box-shadow: #222 2px 2px 30px;
}

/* .home-content img:hover {
    height: 60%;
    border: #B51630 solid 4px;
} */

.home-description {
    font-weight: bold;
    transition: all 1000ms;
}

.home-content .home-description h1 a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 32pt;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.home-description h1:hover {
    animation-name: jump;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
}

.home-description h1 a:hover {
    padding-left: 20px;
    font-size: 40pt;
    color: #B51630;
    border-left: 3px #222 solid;
}

@keyframes jump {
    0%   {transform: translateX(-7px);}
    50%  {transform: translateX(0px);}
    100%  {transform: translateX(-7px);}
}

.home-description p {
    font-size: 18pt;
    color: #30706F;
    font-weight: bold;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 10px;
    box-shadow: #222 2px 2px 5px, #F5F5F5 -1px -1px 3px;
}

main {
    background-color: #F5F5F5;
}

.portifolio-title {
    color: #F5F5F5;
    text-align: center;
    font-size: 40pt;
}

.title {
    padding: 10px 10px 0px 30px;
    color: #222;
    font-size: 15px;
    margin: 0 40px;
    border-bottom: #30706F solid 4px;
}

.Projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 95%;
    grid-gap: 60px;
    padding: 30px;
}

.white, .green, .red {
    display: flex;
    flex-direction: column;
    box-shadow: #111 10px 10px 20px 0px;
    border-radius: 25px;
}

.white:hover, .green:hover, .red:hover {
    transition: all 500ms ease-in-out;
    transform: translateY(-10px) translateX(-5px);
    box-shadow: #333 20px 20px 20px 0px;
}

.white-container, .green-container, .red-container {
    padding: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    flex:1;
    max-height: 300px;
    border-radius: 0 0 13px 13px;
}

.white-container {
    background-color: #FFF8DC;
}

.green-container {
    background-color: #30706F;
}

.red-container {
    background-color: #B51630;
}

.white img, .green img, .red img {
    flex: 1;
    max-width: 100%;
    padding: 30px;
    background-color: #111;
    border-radius: 13px 13px 0 0;
    max-height: 4em;
}

.white-container a {
    text-decoration: none;
    color: #B51630;
    font-size: 20px;
}

.green-container a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 20px;
}

.red-container a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 20px;
}

.white-content, .green-content, .red-content {
    margin: 0 auto;
    color: #111;
}

.white-content h1, .green-content h1, .red-content h1 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    transition: all 500ms;
    padding: 20px 0;
    border-radius: 5px;
}

.white-content p, .green-content p, .red-content p {
    text-align: left;
    font-size: 17px;
    line-height: 22px;
}


.white-links, .green-links, .red-links {
    margin-bottom: 0;
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.green-container a:hover, .white-container a:hover, .red-container a:hover {
    transition: all 500ms;
    cursor: pointer;
    border-left: #222 solid;
    padding-left: 5px;
    animation-name: jump;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    cursor: pointer;
}


@keyframes jump {
    0%   {transform: translateX(-1px); padding-left: 10px;}
    50%  {transform: translateX(0px); padding-left: 5px;}
    100%  {transform: translateX(-1px); padding-left: 10px;}
}

.footer {
    background: #222;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}


/* MOBILE */
@media (max-width: 600px) {
    .nav-bar {
        padding: 0;
        width: 70%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 20px auto;
        text-align:center;
    }

    .nav-link {
        font-size: 10px;
    }

    .home, .about {
        max-width: 600px;
        height: 90vh;
    }

    .home-content img {
        display: none;
    }

    .home-content {
        animation-name: none;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .home-description {
        animation-name: none;
    }

    .home-description h1 {
        background-color: #F5F5F544;
        border-radius: 20px;
        padding: 20px;
    }

    .home-description p {
        font-size: 12px;
    }

    .about-container h1 {
        animation-name: none;
    }

    .img-block {
        height: 20%;
        bottom: 10%;
    }

}

@media screen and (min-height: 1000px) {
    .home-content a img {
        height: 20%;
    }

    .home, .about {
        max-width: 600px;
        height: 90vh;
    }

    .img-block {
        height: 20%;
        bottom: 10%;
    }
}

@media(max-height: 1000px) {
    .home-content a img {
        height: 20%;
    }

    .home, .about {
        max-width: 900px;
        height: 100vh;
    }

    .img-block {
        height: 20%;
        bottom: 10%;
    }
}

@media screen and (max-width: 1000px) {
    .home-content a img {
        height: 20%;
    }

    .home, .about {
        max-width: 100%;
        height: 100vh;
    }

    .img-block {
        height: 20%;
        bottom: 10%;
    }   
}

@media screen and (min-width: 612px) {
    .home-content a img {
        height: 20%;
    }

    .home, .about {
        max-width: 100%;
        height: 93vh;
    }


    .img-block {
        height: 20%;
        bottom: 10%;
    }
}

@media screen and (min-width: 1024px) {
    .home-content a img {
        height: 20%;
    }

    .home, .about {
        max-width: 100%;
        height: 93vh;
    }


    .img-block {
        height: 20%;
        bottom: 10%;
    }
}