html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: #111;
}

.header {
    content: '';
    display: grid;
    grid-template-rows: 2fr 2fr;
    justify-items: center;
    background-image: url(./back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0px;
    transition: all 1000ms;
    height: 100vh;
    width: 100%;
}

.header img {
    border-radius: 50%;
    border: 2px solid #333;
    width: 100px;
    height: 100px;
}

.header h1 {
    font-size: 40px;
    text-align: center;
}

main {
    background-color: #F9F9F9;
}

.resume {
    font-size: 17px;
    margin-top: 10px;
    padding-left: 30px;
    text-align: left;
}

.footer {
    padding: 10px 0;
    background-color: #666;
    font-size: 17px;
    text-align: center;
    margin-top: auto;
    padding-bottom: 40px;
}