body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    background: #222;
}

main {
    background-color: #F5F5F5;
}

.title {
    padding: 10px 10px 0px 30px;
    color: #222;
    font-size: 15px;
    margin: 0 40px;
    border-bottom: #30706F solid 4px;
}

.nav-bar {
    height: 4vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
    transition: all 500ms;
}

.nav-link {
    display: flex;
    font-size: 18px;
    text-decoration: none;
    color: #F5F5F5;
    transition-property: font-size;
    transition-duration: 500ms;
}

.nav-link:hover {
    font-size: 23px;
    color: #B51630; 
}

.Projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 95%;
    grid-gap: 60px;
    padding: 30px;
}

.white, .green, .red {
    display: flex;
    flex-direction: column;
    box-shadow: #111 10px 10px 20px 0px;
    border-radius: 25px;
}

.white:hover, .green:hover, .red:hover {
    transition: all 500ms ease-in-out;
    transform: translateY(-10px) translateX(-5px);
    box-shadow: #333 20px 20px 20px 0px;
}


.white-container, .green-container, .red-container {
    padding: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    flex:1;
    max-height: 300px;
    border-radius: 0 0 13px 13px;
}

.white-container {
    background-color: #FFF8DC;
}

.green-container {
    background-color: #30706F;
}

.red-container {
    background-color: #B51630;
}

.white img, .green img, .red img {
    flex: 1;
    max-width: 100%;
    padding: 30px;
    background-color: #111;
    border-radius: 13px 13px 0 0;
    max-height: 4em;
}

.white-container a {
    text-decoration: none;
    color: #B51630;
    font-size: 20px;
}

.green-container a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 20px;
}

.red-container a {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 20px;
}

.white-content, .green-content, .red-content {
    margin: 0 auto;
    color: #111;
}

.white-content h1, .green-content h1, .red-content h1 {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    transition: all 500ms;
    padding: 20px 0;
    border-radius: 5px;
}

.white-content p, .green-content p, .red-content p {
    text-align: left;
    font-size: 17px;
    line-height: 22px;
}


.white-links, .green-links, .red-links {
    margin-bottom: 0;
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.green-container a:hover, .white-container a:hover, .red-container a:hover {
    transition: all 500ms;
    cursor: pointer;
    border-left: #222 solid;
    padding-left: 5px;
    animation-name: jump;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    cursor: pointer;
}


@keyframes jump {
    0%   {transform: translateX(-1px); padding-left: 10px;}
    50%  {transform: translateX(0px); padding-left: 5px;}
    100%  {transform: translateX(-1px); padding-left: 10px;}
}