@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #F5F5F5;
    height: 100vh;
}

.navbar-nav {
    align-items: center;
    justify-content: center;
}

.navbar-nav li a {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

#myNavbar .active a {
    background: linear-gradient(to right, #ff6f00, #ff9100);
    border-radius: 10px;
    padding: 10px;
}

#myNavbar ul li {
    justify-content: space-between;
    padding: 10px;
}

.navbar-nav li a:hover, .navbar-nav .active li a:hover {
    transition: all ease-in-out 200ms;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
}

/* CONTATO */
.contact {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.links-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    transition: all 500ms;
}

.links-title h1 {
    margin-top: 50px;
    font-size: 30px;
}

.links {
    padding: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow:
        rgb(255, 255, 255, 0.4) -10px -10px 10px,
        hsla(0, 0%, 0%, 0.06) 10px 10px 10px;
    margin: 0 40px;
    background-color: #F5F5F5;
}

.links p {
    font-weight: bolder;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
}

.links a {
    text-decoration: none;
    color: #F5F5F5;
    background: linear-gradient(to right, #ff6f00, #ff9100);
    padding: 10px;
    border-radius: 6px;
    transition: all 300ms;
}

.links a:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: #333 1px 1px 4px;
    text-decoration: none;
    color: #F5F5F5;
}

.links div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
}

.links img {
    width: 50%;
    transition: all 1000ms;
}

@media (max-width: 500px) {
    main {
        flex: 1;
        background-color: #FFF;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .links {
        margin: 20px;
    }
}

@media (width: 768px) and (height: 1024px) {
    .links img {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 950px) {

    .links-title {
        margin: 23px;
    }

    .links div {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media (max-width: 680px) and (min-width: 500px) {
    main {
        background-color: #FFF;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .links {
        margin: 23px;
    }
}