body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    background: #222;
}

.nav-bar {
    height: 4vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
    transition: all 500ms;
}

.nav-link {
    display: flex;
    font-size: 18px;
    text-decoration: none;
    color: #F5F5F5;
    transition-property: font-size;
    transition-duration: 500ms;
}

.nav-link:hover {
    font-size: 30px;
    color: #B51630; 
}

.nav-link::placeholder {
    color: teal;
}

/* HOME */

.home {
    background-image: url('./photo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1;
    height: 90vh;
    width: 100%;
}

.home-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content img {
    justify-content: center;
    align-self: center;
    transition: all 1000ms;
    margin-left: auto;
    margin-right: 100px;
    height: 50%;
    border: #30706F solid 4px;
    border-radius: 50%;
}

.home-content img:hover {
    height: 70%;
    border: #B51630 solid 4px;
}

.home-description {
    font-weight: bolder;
    padding: 130px;
    margin-left: 0px;
    transition: all 1000ms;
    margin: 40px;
    padding: 40px;
}

.home-content .home-description h1 a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    font-size: 50px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.home-description h1:hover {
    animation-name: jump;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
}

.home-description h1 a:hover {
    padding-left: 20px;
    font-size: 55px;
    color: #B51630;
    border-left: 3px #222 solid;
}

@keyframes jump {
    0%   {transform: translateX(-7px);}
    50%  {transform: translateX(0px);}
    100%  {transform: translateX(-7px);}
}

.home-description p {
    font-size: 20px;
    color: #30706F;
    font-weight: bolder;
    background-color: #FFF;
    border-radius: 50px;
    padding: 10px;
    box-shadow: #222 1px 2px 24px;
}

.footer {
    background: #222;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

/* SOBRE */

.about {
    flex: 1;
    display: flex;
    height: 90vh;
    width: 100%;
    background-color: #F5F5F5;
}

.img-block {
    opacity: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    transition: all 200ms;
    height: 40%;
    padding: 60px 60px 0px 60px;
    background-color: #30706F;
    border-radius: 50%;
    padding: 10px;
    margin-top: 50px;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes color {
    0%   {background-color: #222; padding: 0; opacity: 1;}
    25%   {background-color: #30706F; padding: 10px; opacity: 1;}
    50%   {background-color: #B51630; padding: 0 20px; opacity: 1;}
    75%   {background-color: #30706F; padding: 20px 0; opacity: 1;}
    100%   {background-color: #222; padding: 10px; opacity: 0;}
}

.img-block p {
    text-align: left;
}

.about-container {
    padding: 30px 30px 0 30px;
}

.about .about-container h1 {
    font-size: 40px;
    padding-bottom: 20px;
    transition: all 500ms;
    font-weight: bold;
    color: #30706F;
    border-bottom: #222 solid 1px;
}

.about .about-container p {
    transition: all 100ms;
    font-size: 18px;
}

/* PROJETOS */



/* MOBILE */

@media (max-width: 600px) {
    .nav-bar {
        padding: 0;
        width: 70%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 20px auto;
        text-align:center;
    }

    .nav-link {
        font-size: 10px;
    }

    .home, .about {
        max-width: 600px;
        height: 90vh;
    }

    .home-content img {
        display: none;
    }

    .home-content {
        animation-name: none;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .home-description {
        animation-name: none;
    }

    .home-description h1 {
        background-color: #F5F5F544;
        border-radius: 20px;
        padding: 20px;
    }

    .home-description p {
        font-size: 12px;
    }

    .about-container h1 {
        animation-name: none;
    }

    .img-block {
        height: 20%;
        bottom: 10%;
    }

}

@media screen and (min-height: 1000px) {
    .home-content a img {
        height: 20%;
    }

    .home, .about {
        max-width: 600px;
        height: 90vh;
    }

    .img-block {
        height: 20%;
        bottom: 10%;
    }
}

@media(max-height: 1000px) {
    .home-content a img {
        height: 20%;
    }

    .home, .about {
        max-width: 900px;
        height: 100vh;
    }

    .img-block {
        height: 20%;
        bottom: 10%;
    }
}

@media screen and (max-width: 1000px) {
    .home-content a img {
        height: 20%;
    }

    .home, .about {
        max-width: 100%;
        height: 100vh;
    }

    .img-block {
        height: 20%;
        bottom: 10%;
    }   
}

@media screen and (min-width: 612px) {
    .home-content a img {
        height: 20%;
    }

    .home, .about {
        max-width: 100%;
        height: 93vh;
    }


    .img-block {
        height: 20%;
        bottom: 10%;
    }
}

@media screen and (min-width: 1024px) {
    .home-content a img {
        height: 20%;
    }

    .home, .about {
        max-width: 100%;
        height: 93vh;
    }


    .img-block {
        height: 20%;
        bottom: 10%;
    }
}