body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    background: #222;
}

.nav-bar {
    height: 4vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
    transition: all 500ms;
}

.nav-link {
    display: flex;
    font-size: 18px;
    text-decoration: none;
    color: #F5F5F5;
    transition-property: font-size;
    transition-duration: 500ms;
}

.nav-link:hover {
    font-size: 23px;
    color: #B51630; 
}

/* SOBRE */

.about {
    flex: 1;
    display: flex;
    height: 90vh;
    width: 100%;
    background-color: #F5F5F5;
}

.img-block {
    opacity: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    transition: all 200ms;
    height: 30%;
    padding: 60px 60px 0px 60px;
    background-color: #30706F;
    border-radius: 50%;
    padding: 10px;
    margin-top: 50px;
    animation-name: color;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes color {
    0%   {background-color: #222; padding: 0; opacity: 1;}
    25%   {background-color: #30706F; padding: 10px; opacity: 1;}
    50%   {background-color: #B51630; padding: 0 20px; opacity: 1;}
    75%   {background-color: #30706F; padding: 20px 0; opacity: 1;}
    100%   {background-color: #222; padding: 10px; opacity: 0;}
}

.img-block p {
    text-align: left;
}

.about-container {
    padding: 30px 30px 0 30px;
}

.about .about-container h1 {
    font-size: 40px;
    padding-bottom: 20px;
    transition: all 500ms;
    font-weight: bold;
    color: #30706F;
    border-bottom: #222 solid 1px;
}

.about .about-container .resume p {
    padding: 0 20px;
    text-align: justify;
    transition: all 100ms;
    font-size: 15px;
}