* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    background-color: #111;
}

.nav-list {
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #FFF8DC;
    font-size: 18px;
    transition-property: font-size;
    transition: all 500ms;
    transition-duration: 500ms;
}

.nav-link:hover {
    font-size: 30px;
    color: #B51630;
}


.home {
    background-image: url(../../images/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 500ms;
}

.home {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(2, 3fr);
    justify-items: center;
    padding: 60px 0;
}

.home-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FFF8DC;
}

.home-content img {
    height: 70%;
    padding: 0;
    border-radius: 50%;
    margin-left: 100px;
    border: 2px solid #111;
    transition-property: border;
    transition-duration: 500ms;
}

.home-content img:hover {
    border: 5px solid #B51630;
}

.home-content .home-description {
    justify-content: center;
    align-items: center;
}

.home-content .home-description a {
    font-size: 50px;
    font-weight: bold;
    padding: 30px 0;
    transition-duration: 500ms;
    transition-property: font-size;
}

a {
    text-decoration: none;
    color: #FFF8DC;
}

.home-content .home-description a:hover {
    font-size: 60px;
    color: #B51630;
}

.home-content .home-description p {
    font-size: 20px;
    transition-property: font-size;
    transition-duration: 500ms;
}

.home-content .home-description p:hover {
    font-size: 25px;
    font-weight: bold;
    color: #30706F;
}