@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #F5F5F5;
}

.navbar-nav {
    align-items: center;
    justify-content: center;
}

.navbar-nav li a {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

#myNavbar .active a {
    background: linear-gradient(to right, #ff6f00, #ff9100);
    border-radius: 10px;
    padding: 8px;
}

#myNavbar ul li {
    justify-content: space-between;
    padding: 10px;
}

.navbar-nav li a:hover, .navbar-nav .active li a:hover {
    transition: all ease-in-out 200ms;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
}

/* SOBRE */
.about {
    margin: 60px auto 0 auto;
    z-index: 2;
    flex-direction: column;
    height: 90vh;
    width: 90vw;
    background-color: #F5F5F5;
}

.img-block p {
    text-align: left;
}

.about-container {
    padding: 30px 10px 0 10px;
}

.about .about-container h1 {
    font-size: 40px;
    padding-bottom: 20px;
    transition: all 500ms;
    font-weight: bold;
    color: #ff9100;
    border-bottom: #222 solid 2px;
}

.about .about-container .resume p {
    padding: 0 20px;
    text-align: justify;
    transition: all 100ms;
    font-size: 16px;
}

@media (min-width: 300px) and (max-width: 800px) {
    .about {
        height: 100%;
    }
}